body { 
	background-color: 	#F778A1;
	font-family:      	Georgia, "Times New Roman", Times, serif;
	font-size:       	105%;
	color:				black;
}

h1 {
	font-size:        	250%;
	color:            	#800517;
}


#buttonBar {
    border-style:       ridge;
    border-width:       10px;
    border-color:       #6C2DC7;
    width:              800px;
    text-align:         center;
    margin-left:        auto;
    margin-right:       auto;
    background-color:   #FAAFBA;
    
}

#content {
    border-style:       ridge;
    border-width:       10px;
    border-color:       #6C2DC7;
    width:              800px;
    margin-left:        auto;
    margin-right:       auto;
    background-color:   #FAAFBA;
    
    margin-top:         20px;
}


ul{
list-style-type:none;
margin:0;
padding:0;
padding-top:10px;
padding-bottom:10px;
}

li{
display:inline;
}


a:link,a:visited
{
font-weight:bold;
color:white;
background-color:#F6358A;
text-align:center;
padding:6px;
text-decoration:none;
text-transform:uppercase;
margin-left:30px;
margin-right:30px;
border-radius: 15px;
}

a:hover,a:active
{
    background-color:   #F778A1;
}

#header {
    border-bottom:      solid;
    border-color:       white;
    margin-bottom:      10px;
}

#header h1, h3{
	color:				white;
    padding-left:       100px;
}

#header img{
    float:              left;
}


#footer {
	font-size: 			50%;
	text-align: 		center;
	line-height: 		normal;
	margin-top: 		150px;
}