<h1>Statistics</h1>
<p>Note: Each text is the same three times since the algorithm is 3NN.</p>
<p>Correct Pony -> Classified pony (text)</p>
<p><% @output.each do |out| %><%= out %><br /><% end %></p>