<p>We are two students, in Dr. Caverlee's Information Storage and Retrevial class, who decided to create this website for our final project. You can read our short bios below.
<br /><br />
Amanda Cofsky: Web Designer<br />
I am a senior computer science major at Texas A&M University. I come from a small town near Waco, Texas. I love designing user interfaces, such as the one for this site.
<br /><br />
<a href="http://benbeadle.com" target="_blank">Ben Beadle<a/>: Web Developer<br />
I'm a senior computer science major at Texas A&M University with a love for web development. Check out more of my projects <a href="http://benbeadle.com/code" target="_blank">here</a>.
</p>
