<p>
We would like to thank Dr. Caverlee and Jeff for all their help throughout the class.
<br /><br />
Below are sites we used during the course of the project.
<br /><br />
<a href="http://en.wikipedia.org/wiki/My_Little_Pony:_Friendship_Is_Magic" target="_blank">General MLP information</a>. This is also where I took the MLP icon from.
<br /><br />
<a href="http://mlp.wikia.com/wiki/Twilight_Sparkle" target="_blank">Everything you would want to know about Twilight Sparkle</a><br />
<a href="http://mlp.wikia.com/wiki/Pinkie_Pie" target="_blank">Everything and Anything about Pinkie Pie </a><br />
<a href="http://mlp.wikia.com/wiki/Fluttershy" target="_blank">The Fluttershy encyclopedia </a><br />
<a href="http://mlp.wikia.com/wiki/Apple_Jack" target="_blank">The low down on Applejack</a><br />
<a href="http://mlp.wikia.com/wiki/Rarity" target="_blank">Discusses the pretty pony, Rarity</a><br />
<a href="http://mlp.wikia.com/wiki/Rainbow_Dash" target="_blank">Rainbow Dash details</a>
<br /><br />
<a href="http://mlp.wikia.com/wiki/Transcripts" target="_blank">The Transcripts used in our alogrithm</a>
<br /><br />
The pony images came from the following sites:
<br />
<a href="http://images.wikia.com/theregularshow/images/3/36/My_little_pony_rainbow_dash_desktop_1390x1708_wallpaper-1024310.png" target="_blank">Rainbow Dash</a><br />
<a href="http://fc03.deviantart.net/fs71/i/2012/043/d/c/fluttershy_by_makintosh91-d4phooo.png" target="_blank">Fluttershy</a><br />
<a href="http://images.wikia.com/mlp/images/archive/3/32/20110730233429!Twilight_Sparkle_hubworld_promotional.jpg" target="_blank">Twilight Sparkle</a><br />
<a href="http://th06.deviantart.net/fs71/PRE/i/2012/091/9/0/apple_jack_by_lolke12-d4royeq.png" target="_blank">Applejack</a><br />
<a href="http://images.wikia.com/mlp/images/archive/f/f5/20110730233653!Rarity.jpg" target="_blank">Rarity</a><br />
<a href="http://th00.deviantart.net/fs70/PRE/f/2011/175/3/1/pinkie_pie_by_peachspices-d3jwey1.png" target="_blank">Pinkie Pie</a>
</p>
