<p>
My Little Pony: Friendship is Magic is a show based on the Hasbro My Little Pony franchise. This show's creative director and executive producer for the first season was Lauren Faust, who worked on the Powerpuff Girls and Foster's Home for Imaginary Friends. Due to her guidance, it has developed a cult following of teenage and adult males and females called "Bronies." 
<br /><br />
This website is designed with them in mind. It allows anyone to log into Twitter, and find out what pony they are most similiar to simply based on tweets. 
<br /><br />
Click Analyze and discover your inner Pony.</p>
