<div id="analyzing">
<p>Analyzing your tweets. We will be right with you.</p>
<img src="../images/loading.gif" />
</div>
<div id="results" style="display:none;">
  <p class="center">Your inner pony is <b><span id="pony_winner"></span></b>.</p>
  <img id="pony_img" height="200px" />
  <div id="chart_div"></div>
  <p id="pony_desc" class="center"></p>
  <br />
  <p id="tweets" />
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1.0', {'packages':['corechart']});
</script>